<!DOCTYPE html>
<html lang='en'>
   <head>
      <title>{{website_name}}</title>
      <meta charset="UTF-8">
      <link rel='icon' type='image/x-icon' href='{{website_icon}}'/>
      <meta name='theme-color' content='#2F4F4F'>
      <meta name='twitter:card' content='summary_large_image'/>
      <meta name='twitter:title' content='Image upload system'>
      <meta name='twitter:description' content='Image upload system'>
      <meta property="og:site_name" content='{{website_name}}'>
      <meta property='og:description' content='Image upload system'>
   </head>
</html>
