<!DOCTYPE html>
<html lang='en'>
   <head>
      <title>Ghostboy</title>
      <meta charset="UTF-8">
      <link rel='icon' type='image/x-icon' href='https://ghostboy.dev/assets/darkman.gif'>
      <meta name='theme-color' content='#2F4F4F'>
      <meta name='twitter:card' content='summary_large_image'/>
      <meta name='twitter:title' content='Ghostboys image upload system'>
      <meta name='twitter:description' content='Image upload system'>
      <meta property='og:description' content='Image upload system'>
   </head>
</html>
